cnsenti==0.0.7
dgl==2.2.1
einops==0.8.1
facenet_pytorch==2.6.0
h5py==3.13.0
librosa==0.11.0
matplotlib==3.10.1
nltk==3.8.1
numpy==2.2.4
nvidia_ml_py==12.570.86
pandas==2.2.3
Pillow==11.2.1
python_dateutil==2.9.0.post0
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.2
snownlp==0.12.3
torch==2.1.0+cu121
torch_geometric==2.6.1
tqdm==4.66.1
transformers==4.51.3
usfutils==2.0.0
